body {
    background: url(../images/crystal.jpg);
    font-size: 24px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 auto;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 90px;
}
h1 {
    font-weight: bold;
    background: rgba(55, 55, 126, 0.87);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(22, 25, 32, 0.19), 0 6px 7px 0 rgba(22, 25, 32, 0.26);
}
.main {
    width: 70%;
    background-color: #d1d1d1;
    background-repeat: no-repeat;
    padding: 80px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px 0 rgba(22, 25, 32, 0.19), 0 6px 7px 0 rgba(22, 25, 32, 0.26);
}
.rules {
    padding-top: 10px;
}
.container {
    padding-bottom: 10px;
}
button {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin:20px;
    border-radius: 25px;
}
#red {
    color: #fff;
    background-color: red;
    border-color: black;
    padding: 20px;
}
#red:hover {
    background-color: #ddd;
    color: red;
}
#blue {
    color: #fff;
    background-color: blue;
    border-color: black;
    padding: 20px;
}
#blue:hover {
    background-color: #ddd;
    color: blue;
}
#yellow {
    color: black;
    background-color: yellow;
    border-color: black;
    padding: 20px;
}
#yellow:hover {
    background-color: #ddd;
    color: yellow;
}
#green {
    color: #fff;
    background-color: green;
    border-color: black;
    padding: 20px;
}
#green:hover {
    background-color: #ddd;
    color: green;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(64, 64, 65, 0.89);
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 6px solid  rgba(51, 51, 156, 0.541);
}